<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB703pYww83zZuXVUyA77v4F-6fIBAewVA</string>
	<key>GCM_SENDER_ID</key>
	<string>1038747330419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.edu.srmist.F1</string>
	<key>PROJECT_ID</key>
	<string>swiftuifirebasebootcamp-bbcce</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifirebasebootcamp-bbcce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038747330419:ios:3580665d5ede4fefec4706</string>
</dict>
</plist>